{% extends "base.html" %}
{% block content %}
<div class="max-w-md mx-auto mt-10 bg-slate-900 p-6 rounded-xl">
  <h1 class="text-2xl font-bold mb-4">Setel password baru</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
      {{ form.new_password1.errors }}
      {{ form.new_password1 }}
    </div>
    <div class="mb-4">
      {{ form.new_password2.errors }}
      {{ form.new_password2 }}
    </div>

    <button class="w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-2 rounded">
      Update password
    </button>
  </form>
</div>
{% endblock %}
