<!-- Menampilkan admin profile -->

{% load static %}

{% block content %}
    <div id="profile-container">
        <!-- Profile picture -->
        <p>
            <img id="profile-picture" src="" alt="Profile Picture" width="150">
        </p>
        <!-- Username -->
        <h2>
            <b><span id="username"></span></b>
        </h2>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            try {
                const url = `/profiles/adminJournalistJson/`;
                const STATIC_URL = "{% static '' %}";
    
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error("Failed to fetch profile data from server");
                }
    
                const data = await response.json();
    
                document.getElementById("username").textContent = data.username;
                document.getElementById("profile-picture").src = STATIC_URL + data.profile_picture;
                document.getElementById("profile-picture").alt = "Admin Picture";
            } catch (error) {
                alert("Error: " + error.message);
            }
        });
    </script> 
{% endblock %}
