{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
  <h1>Hello, LigaPass Auth Test 👋</h1>

  {% if user.is_authenticated %}
    <p>Welcome, <b>{{ user.username }}</b>!</p>
    <p>Email: {{ user.email }}</p>
    <p>Role: {{ user.role }}</p>
    <a href="{% url 'profiles:user_view' request.user.id %}"> <!-- delete later -->
      <button>Profile [for testing]</button>
    </a> 
    
    {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'authentication:login' %}">Login</a> |
    <a href="{% url 'authentication:register' %}">Register</a>
  {% endif %}
{% endblock %}